/Zadanie_1_JSP/ServletsJSPJSTL/target/
/Zadanie_1_JSP_JSTL/ServletsJSPJSTL/target/
Paraya_Server/
/Zadanie_2_JSF/JSFLab/target/
/Zadanie_3_PrimeFaces/PrimeFacesJSF/target/
/Zadanie_4_Requests/Requests/target/
/Zadanie_5_MDBLab/MDBLab/nbproject/private/
/Zadanie_5_MDBLab/MDBLab/MDBLab-war/nbproject/private/
/Zadanie_5_MDBLab/MDBLab/MDBLab-ejb/nbproject/private/
/Zadanie_5_MDBLab/MDBLab/MDBLab-ejb/build/
/Zadanie_5_MDBLab/MDBLab/build/
/Zadanie_5_MDBLab/MDBLab/dist/
/Zadanie_5_MDBLab/MDBLab/MDBLab-war/build/
/Zadanie_5_MDBLab/MDBLab/MDBLab-ejb/dist/
/Zadanie_5_MDBLab/MDBLab/MDBLab-war/dist/
